*{
padding:0;
margin:0;
}

body {
    background-color:rgba(223, 209, 191, 0.767);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.barraSuperior{
    padding: 1em 2em;
}

.primeraFila {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-between;
   margin: 0 0 3em 0;

}

.imagen {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -0.2em;
    left: 44%;
}
.icono {
    background-color:rgba(44, 88, 90, 0.973);
    border-radius: 5px;
    margin: .7em .3em;
    padding: .6em;
    height: 1.5em;

}

.redes { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.whatsapp { 
    width: 13em;
}

#celular {
    color:rgba(44, 88, 90, 0.973);
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    margin-left: .3em;
}

#consultas {
    color:rgba(223, 209, 191, 0.767);
    font-family: "montserrat", sans-serif;
    font-weight: 200;

}

#consultas:active, #consultas:visited, #consultas:link {
    color: rgba(223, 209, 191, 0.767);
    text-decoration: none; 
}

.menu { 
    display: flex;

}
#desplegar {
    margin:auto;
    position: relative;
    top: -0.5em;
}

#contraer {
    margin:auto;
    position: relative; 
    top: -0.5em;
    display: none;
}

#contraer:hover, #desplegar:hover {
    -webkit-box-shadow:0px 0px 14px 1px rgba(242,228,245,0.82);
    -moz-box-shadow: 0px 0px 14px 1px rgba(242,228,245,0.82);
    box-shadow: 0px 0px 14px 1px rgba(242,228,245,0.82);
    transition: .2s;
}
.opciones {
    font-family: "montserrat", sans-serif;
    font-size: 200;
    color: rgba(44, 88, 90, 0.973);
    padding: 0 .2em;
    transition: .5s;
}

.opciones:hover {
    -webkit-box-shadow:0px 0px 14px 1px rgba(242,228,245,0.82);
    -moz-box-shadow: 0px 0px 14px 1px rgba(242,228,245,0.82);
    box-shadow: 0px 0px 14px 1px rgba(242,228,245,0.82);
    color: rgba(66, 122, 122, 0.781);
    background-color: rgba(242, 228, 245, 0.295);
    padding: 0 .2em;
    border-radius: 20px;
    transition: .5s;
}
#desplegable {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    position: relative;
    top: -1em;
    opacity:0;
    transition: all 1s;
}

#botonHamburguesa {
    display: none;
    width: 10em;
    position: relative;
    left: 70vW;
}

#lineaSuperior, #lineaInferior {
    width: 2.8em;
    height: .2em;
    background-color:rgba(44, 88, 90, 0.973);
    margin: .5em 5em;
    transition: .5s;
}

#lineaSuperior{
    box-shadow: rgba(44, 88, 90, 0.973) 0 1.2em;
}
#menuHamburguesa {
    display: flex;
    flex-direction: column;  
    flex-wrap: nowrap;
    max-width: 23%;
    width: 20em;
    margin: 2em;
    padding: 1em;
    font-size: .5em;
    position: relative;
    top: -12.4em;
    left:-30em;
    transition: all 1s;
    background-color: rgba(223, 209, 191, 0.767);
}

.cuerpo {
    background-image: url("fondo.png");
    min-height: 100vh;
    background-repeat:no-repeat;
}

.slogan {
    font-family: "rubik, sans-serif";
    font-size: 3em;
    text-align: center;
    top: 50em;
    color:rgba(44, 88, 90, 0.973)
}

.divSlogan { 
    padding: 2em 3em 0em 3em;
}

#desplegable1 {
width: 20em;
margin: auto;
text-align: center;
position: relative;
top: 5em;

}

#productos {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 50em;
    max-width: 31.25em;
    margin: -7em 6em 1em 25em;
    
}

#productos:hover {
    color: rgba(223, 209, 191, 0.767);
}
#enlace:active, #enlace:visited, #enlace:link {
    color:rgb(44, 88, 90);
    text-decoration: none; 
}

#niño {
    width:23.2em;
    border-radius: 20px 0 0 20px;
    position: relative;
    left:0;
    top: 0;
    transition: 3s;
}

#niña {
    border-radius: 0 20px 0 0 ;
    
}

#invierno {
    border-radius: 0 0 20px 0;
    
}
#niña, #invierno {
    width: 10em;
    margin: 0 0 0 .3em;
    position: relative;
    left:0;
    top: 0;
    transition: .3s;
}
.footer {
    margin-top: auto;
    padding: 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  rgba(223, 209, 191, 0.767); 
}

.footerIzq {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.footerDer { 
text-align: right;
display: flex;
flex-direction: column;

}

.textoFooter {
font-family: "montserrat" sans-serif;
font-weight: 10;
color: rgba(44, 88, 90, 0.973);

}

/* ************************* SLIDER ************************* */
.menu { 
    display: flex;

}
#desplegar {
    margin:auto;
    position: relative;
    top: -0.5em;
}

#contraer {
    margin:auto;
    position: relative; 
    top: -0.5em;
    display: none;
}

#contraer:hover, #desplegar:hover {
    -webkit-box-shadow:0px 0px 14px 1px rgba(242,228,245,0.82);
    -moz-box-shadow: 0px 0px 14px 1px rgba(242,228,245,0.82);
    box-shadow: 0px 0px 14px 1px rgba(242,228,245,0.82);
    transition: .2s;
}
.opciones {
    font-family: "montserrat", sans-serif;
    font-size: 200;
    color: rgba(44, 88, 90, 0.973);
    padding: 0 .2em;
    transition: .5s;
}

.opciones:hover {
    -webkit-box-shadow:0px 0px 14px 1px rgba(242,228,245,0.82);
    -moz-box-shadow: 0px 0px 14px 1px rgba(242,228,245,0.82);
    box-shadow: 0px 0px 14px 1px rgba(242,228,245,0.82);
    color: rgba(66, 122, 122, 0.781);
    background-color: rgba(242, 228, 245, 0.295);
    padding: 0 .2em;
    border-radius: 20px;
    transition: .5s;
}
#desplegable {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    position: relative;
    top: -1em;
    opacity:0;
    transition: all 1s;
}

#botonHamburguesa {
    display: none;
    width: 10em;
    position: relative;
    left: 70vW;
}

#lineaSuperior, #lineaInferior {
    width: 2.8em;
    height: .2em;
    background-color:rgba(44, 88, 90, 0.973);
    margin: .5em 5em;
    transition: .5s;
}

#lineaSuperior{
    box-shadow: rgba(44, 88, 90, 0.973) 0 1.2em;
}
#menuHamburguesa {
    display: flex;
    flex-direction: column;  
    flex-wrap: nowrap;
    max-width: 23%;
    width: 20em;
    margin: 2em;
    padding: 1em;
    font-size: .5em;
    position: relative;
    top: -12.4em;
    left:-30em;
    transition: all 1s;
    background-color: rgba(223, 209, 191, 0.767);
}

.container-slider {
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 7px rgba(223, 209, 191, 0.767);
}

.slider {
    display: flex;
    width: 500%;
    height: 400px;
    margin-left: -100%;

}

.slider__section {
    width: 100%;
}

.slider__img {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(44, 88, 90, 0.973);
    top: 50%;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    color:rgba(223, 209, 191, 0.767);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover{
    background:rgb(44, 88, 90);
}

.slider__btn-left {
    left: .08px;

}

.slider__btn-right {
    right:1px;
}
/* ************************ RESPONSIVE ****************************** */

@media only screen and (max-width:1200px){ 
    body {
        font-size: 12px;
    }
}

@media only screen and (max-width:900px) {
    #botonHamburguesa {
        display: block;
    }
    .menu {
        display: none;
    }
    .primeraFila {
        flex-direction: column;
        align-items: flex-start;
    }
    .imagen {
        left: 80%
    }
}
@media only screen and (max-width:850px){
    #desplegable1 {
        width: 19em;
        margin: auto;
        text-align: center;
        position: relative;
        top: 7em;
        
        }
        #niña, #invierno {
            width: 15em;
            left: -10em;
        }
        #niño {
            width:35em;

        }
        #productos {
            width: .1em;
            margin: -7em 6em 70em 10em;
}
}
@media only screen and (max-width:700px){
#niña, #invierno {
    width: 15em;
    left: -50em;
}
#niño {
    width:35em;
    left: 100em;
}
#productos {
    width: .5em;
    margin: -7em 6em 10em .1em;
}
}
@media only screen and (max-width:590px) {
    .imagen {
        left: 65%;
    }
    #niña, #invierno {
        width: 7.5em;
    }
    #niño {
        width:17.5em;
    }
    #productos {
        width: .5em;
        margin: -7em 6em 1em 5em;
    
    }

    #desplegable1 {
        width: 18em;
    }
}